body {
    font-family:  Helvetica, sans-serif;
    width: 100%;
  }

h1 {
    text-align: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.4)), url("pics/fruits.jpeg");
  background-size: cover;
}
.topnav  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    font-size: 17px;
    width: 100%;
    background-color: white;
  }
.topnavlogo {
      vertical-align: top;
      width: 120px;
      height: 50px;
      padding: 0px;
  }

.donation {
    width: 480px;
    border: 7px solid black;
    padding: 40px;
    margin: 100px auto;
    display: block;
    }

.dropdown {
    display: block;

}

form {
  border: 3px solid black;
  width: 500px;
  background-color: white !important;
}


/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 250px;
  }
  
  /* Control the right side */
  .right {
    right: -150px;
  }
  
  a {
    color: black;
  }

  button {
    border: none;
  }
