* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
html {
    height: 100vh;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    height: 65px;
    color: black;
}
h2 {
      font-weight: bold;
      padding-top: 40px;
}
button {
    font-size: 17px;
    color: black;
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}

img .topnavlogo {
    vertical-align: top;
    min-width: 1000px;
    height: 50px;
    padding: 0px;
}
a {
    color: black;
}

main {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.4)), url("pics/fruits.jpeg");
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#firebaseui-auth-container {
    width: 400px;
}

