* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    height: 100vh;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid grey;
    box-shadow: 1px 0px 1px;
    font-size: 17px;
    color: black;
}
button {
    margin: 0 50px;
    font-size: 17px;
    color: green;
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.sign-up {
    padding: 10px 20px;
    background-color: springgreen;
    font-size: 22px;
    color: white;
    margin-left: 400px;
    margin-top: -100px;
}

.form {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.5)), url("pics/fruits.jpeg");
    background-size: cover;
    height: 105vh;
    border: 1px solid black;
}

fieldset {
    font-size: 25px;
    padding-left: 40px;
}

h2 {
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 30px;
    font-size: 30px;
    padding-top: 20px;
}
input {
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
    padding-left:10px;
}
.topnavlogo {
    vertical-align: top;
    width: 50px;
    height: 50px;
    padding: 0px;
}
a {
    color: black;
}

.name {
    margin-left: 142px;
}

.adress {
    margin-left: 124px;
}

.website {
    margin-left: 113px;
}

.food {
    margin-left: 113px;
}

