* {
    box-sizing: border-box;
}
body {
    background-color: teal;
}

.nav {
    height: 40px;
    background-color: green;
    align-items: center;
    margin-bottom: 100px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
}
.profile-image {
    width: 200px;
    border-radius: 50%;
}

form {
    border: 5px solid white;
}
